body
{
	background-color: #E1ECFF;
	height: 100%;
	font-family: 'Alegreya', serif;
	margin-left: auto;
	margin-right: auto;
	padding: 0 10px;
}

h1
{
	font-family: 'Roboto Slab', serif;
	font-weight: 400; 
	margin: 0;
	padding-bottom: 10px;
	padding-top: 5px;
	text-align: center;
}

.enterText
{
	text-align: center;
}

p
{
	margin: 0;
}

a
{
	color: blue;
}


.embedlyContent
{
	padding-bottom: 150px;
}

.container
{
	margin: 0 auto;
	padding: 10px;
	padding-bottom: 0;
	width: 80%;
}

textarea
{
	width: 100%;
}

.embed
{
  padding-top: 5px;
}

.box
{
  background-color: #F2F2F2; 
  border-style: solid; 
  border-width: 1px;
  border-color: #E5E5E5;
  margin: 0 auto;
  overflow: hidden;
  padding: 5px;
  width: 50%;
}

.embed-thumb
{
  float: left;
  width: 35%;
}

.thumb-image
{
  height: 120px;
  width: 100%;
}

.thumb-blank
{
  background-color: #ccc;
  height: 120px;
  width: 100%;
}

.button
{
  float:right;
}

.text
{
  float: none;
  margin-left: 35%;
  padding: 5px 10px;
  word-wrap: break-word;
}

.titleText
{
  font-weight: bold;
}

.urlText
{
  font-size: 90%;
  padding-bottom: 5px;
  word-wrap: break-word;
}

.regularEmbeds
{
	text-align: center;
}

.footer
{
	background-color: #fff;
	bottom: 0;
	font-size: 12px;
	opacity: 0.8;
	padding: 10px;
	position: fixed;
	right: 0;
	text-align: right;
	width: 100%;
}

.footer p
{
	margin: 0;
}

.footer .author 
{
	padding-bottom: 10px;
}